:root {
  --white-primary: #fff;
  --white-secondary: #f7f7f7;

  --black-primary: #0b090a;
  --black-secondary: #111111;

  --gray-primary: #b2b2b2;
  --gray-secondary: #2e2e2e;

  --yellow-primary: #ffbb00;
  --yellow-secondary: #f2a50c;

  --yellow-gradient: linear-gradient(
    180deg,
    var(--yellow-primary) 0%,
    var(--yellow-secondary) 100%
  );
}

.color-black {
  color: var(--black-primary);
}

.color-black-secondary {
  color: var(--black-secondary);
}

.color-white {
  color: var(--white-primary);
}

.color-gray {
  color: var(--gray-primary);
}

.color-gray-secondary {
  color: var(--gray-secondary);
}

.color-yellow {
  color: var(--yellow-primary);
}

.color-yellow-secondary {
  color: var(--yellow-secondary);
}
