* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
}

.teste {
  height: 400px;
  background-color: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

img[src$=".jpg"] {
  border-radius: 4px;
}

span {
  color: var(--yellow-primary);
}

.container {
  max-width: 1200px;
  padding: 0 1.25rem;
  margin: 0 auto;
}
