* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
}

ul {
  list-style: none;
}

li {
  font-family: "Poppins";
  font-weight: 400;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

img[src$=".jpg"] {
  border-radius: 4px;
}

span {
  color: var(--yellow-primary);
}

button {
  font-family: "Poppins";
  font-weight: 600;
  color: var(--black-secondary);
  text-transform: uppercase;
}

.container {
  max-width: 1200px;
  padding: 0 1.25rem;
  margin: 0 auto;
}
