.insurance-bg {
  background-color: var(--black-secondary);
}

.insurance {
  padding: 60px 1.25rem 120px 1.25rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
  position: relative;
}

.insurance h2 {
  grid-column: 1/-1;
  color: var(--white-primary);
}

.insurance-item {
  display: grid;
  margin-top: 2rem;
  border-radius: 4px;
  background-color: var(--black-primary);
  grid-template-columns: 1fr auto;
  padding: 32px 32px 32px 60px;
  border: 1px solid var(--yellow-primary);
}

.insurance-item p {
  grid-column: 2;
  color: var(--white-primary);
}

.insurance-item p > span {
  display: block;
  color: var(--gray-primary);
  text-align: center;
}

.insurance ul {
  padding: 40px 0;
  grid-column: 1/-1;
}

.insurance-item li {
  color: var(--white-primary);
  padding: 4px 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

.insurance-item:last-child {
  padding: 32px 32px 32px 60px;
  border: none;
}

.insurance-item button {
  align-self: center;
}

.item-gold {
  position: relative;
}

.recommended {
  position: absolute;
  border-radius: 4px;
  padding: 8px 24px;
  background-color: var(--yellow-primary);
  left: 50%;
  transform: translate(-50%, -50%);
  top: 0;
  box-shadow: 0 0 20px -5px rgba(255, 255, 0, 0.25);
}

.recommended p {
  color: var(--black-secondary);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

@media (max-width: 800px) {
  .insurance {
    grid-template-columns: 1fr;
  }
}
