#home main {
  background-color: var(--black-secondary);
  color: var(--white-primary);
  box-shadow: inset 0 -90px var(--white-primary);
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.bg-gradient {
  position: absolute;
  right: 0;
  top: 50%;
  width: 100px;
  height: 300px;
  border-radius: 50%;
  background-color: var(--gray-primary);
  filter: blur(400px);
  z-index: -1;
}

.bg-gradient-2 {
  position: absolute;
  left: 0;
  top: 20%;
  width: 100px;
  height: 20%;
  border-radius: 50%;
  background: var(--yellow-secondary);
  filter: blur(400px);
  z-index: -1;
}

.main__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
  padding: 60px 0 0 0;
}

.main__content__text {
  align-self: center;
  padding-bottom: 200px;
  z-index: 999;
}

.main__content__text img,
.main__content__text a {
  z-index: 999;
}

.main__content__text > .button {
  max-width: max-content;
}

.h1 {
  margin-bottom: 32px;
}

.paragraph {
  margin-bottom: 20px;
}

.main__content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.numbers {
  height: 18rem;
  position: relative;
  width: 100%;
  display: grid;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 16px 0;
  margin: 8rem 0 2rem 0;
}

.slider {
  display: flex;
  align-items: center;
  width: 100%;
  animation: scroll 60s linear infinite;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: max-content;
  height: 18rem;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.slide h4 {
  display: flex;
  align-items: center;
  gap: 3rem;
  background: -webkit-linear-gradient(
    var(--gray-secondary),
    var(--black-primary)
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 7rem;
  height: 15rem;
}

.slide h4::before,
.slide h4::after {
  content: "";
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: var(--yellow-gradient);
}

.slide h4::after {
  animation: animate 0.6s ease-out alternate-reverse infinite;
  animation-delay: 0.3s;
}

.slide h4::before {
  animation: animate 0.6s ease-out alternate-reverse infinite;
}

@keyframes animate {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-70px);
  }
}

@media (max-width: 800px) {
  .numbers {
    margin: 1rem 0;
    height: 6rem;
  }

  .slide {
    height: 6rem;
  }

  .slide h4 {
    font-size: 3rem;
    height: 5rem;
  }

  .slide h4::before,
  .slide h4::after {
    width: 0.75rem;
    height: 0.75rem;
  }

  .bg-gradient {
    right: -40%;
    top: 60%;
    width: 50%;
    height: 100px;
    filter: blur(100px);
  }

  .bg-gradient-2 {
    left: -40%;
    top: 40%;
    width: 50%;
    height: 100px;
    filter: blur(100px);
  }

  .main__content {
    padding: 2rem 20px;
    grid-template-columns: 1fr;
    gap: 0 32px;
  }

  .main__content__text {
    margin-top: 36px;
    padding-bottom: 0;
  }

  .main__content img {
    padding-top: 4rem;
    max-width: 100%;
  }

  @keyframes animate {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-40px);
    }
  }
}
