#home main {
  background-color: var(--black-secondary);
  color: var(--white-primary);
  box-shadow: inset 0 -90px var(--white-primary);
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.bg-gradient {
  position: absolute;
  right: 0;
  top: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--gray-primary);
  filter: blur(400px);
  z-index: -1;
}

.bg-gradient-2 {
  position: absolute;
  left: 0;
  top: 20%;
  width: 100px;
  height: 20%;
  border-radius: 50%;
  background: var(--yellow-secondary);
  filter: blur(400px);
  z-index: -1;
}

.main__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
  padding: 60px 0 0 0;
}

.picture {
  position: relative;
}

.eletric {
  position: absolute;
  top: 48px;
  left: 20px;
  transform: translate(-50%, -50%);
}

.picture figure {
  background-color: #ffbb0090;
  border: 2px solid #ffbb0098;
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  top: -30px;
  transform: translate(-50%);
  width: 148px;
  left: 20px;
}

.picture figure img {
  animation: 24s rotation linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.main__content__text {
  align-self: center;
  padding-bottom: 200px;
  z-index: 999;
}

.main__content__text img,
.main__content__text a {
  z-index: 999;
}

.main__content__text > .button {
  max-width: max-content;
}

.h1 {
  margin-bottom: 32px;
}

.paragraph {
  margin-bottom: 20px;
}

.main__content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.numbers {
  height: 18rem;
  position: relative;
  width: 100%;
  display: grid;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 16px 0;
  margin: 8rem 0 2rem 0;
}

.slider {
  display: flex;
  align-items: center;
  width: 100%;
  animation: scroll 60s linear infinite;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: max-content;
  height: 18rem;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.slide h2 {
  display: flex;
  align-items: center;
  gap: 3rem;
  color: var(--black-primary);
  font-size: 9rem;
  height: 15rem;
}

.slide h2::before,
.slide h2::after {
  content: "";
  display: inline-block;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  background: var(--yellow-gradient);
}

.slide h2::after {
  animation: animate 0.6s ease-out alternate-reverse infinite;
  animation-delay: 0.3s;
}

.slide h2::before {
  animation: animate 0.6s ease-out alternate-reverse infinite;
}

@keyframes animate {
  0% {
    transform: translateY(0);
    box-shadow: none;
  }
  100% {
    transform: translateY(-70px);
    box-shadow: 0 100px 40px rgba(0, 0, 0, 0.7);
  }
}

@media (max-width: 820px) {
  .numbers {
    margin: 1rem 0;
    height: 7rem;
  }

  .slide {
    height: 7rem;
  }

  .eletric,
  .picture figure {
    display: none;
  }

  .slide h2 {
    font-size: 6rem;
    height: 6rem;
  }

  .slide h2::before,
  .slide h2::after {
    width: 0.75rem;
    height: 0.75rem;
  }

  .bg-gradient {
    right: -40%;
    top: 60%;
    width: 50%;
    height: 100px;
    filter: blur(100px);
  }

  .bg-gradient-2 {
    left: -40%;
    top: 40%;
    width: 50%;
    height: 100px;
    filter: blur(100px);
  }

  .main__content {
    padding: 2rem 20px;
    grid-template-columns: 1fr;
    gap: 0 32px;
  }

  .main__content__text {
    margin-top: 36px;
    padding-bottom: 0;
  }

  .main__content img {
    padding-top: 4rem;
    max-width: 100%;
  }

  @keyframes animate {
    0% {
      transform: translateY(0);
      box-shadow: 0;
    }
    100% {
      transform: translateY(-30px);
      box-shadow: 0 40px 40px rgba(0, 0, 0, 0.7);
    }
  }
}
