main {
  background-color: var(--black-primary);
  color: var(--white-primary);
  box-shadow: inset 0 -120px var(--white-primary);
}

.main__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
}

.main__content__text {
  align-self: end;
  padding-bottom: 200px;
}

.main__content__text > .button {
  max-width: max-content;
}

.h1 {
  margin-bottom: 32px;
}

.paragraph {
  margin-bottom: 20px;
}

.main__content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 800px) {
  .main__content {
    padding: 0 20px;
    grid-template-columns: 1fr;
    gap: 0 32px;
  }

  .main__content__text {
    margin-top: 36px;
    padding-bottom: 0;
  }

  .main__content img {
    margin-top: 16px;
    max-width: 100%;
  }
}
