.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--yellow-secondary);
}

.testimonials img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0;
}

.testimonial-content {
  padding: 40px 40px 80px 80px;
  align-self: end;
}

.testimonial-content p {
  position: relative;
  color: var(--black-primary);
  margin-bottom: 32px;
  max-width: 32ch;
}

.testimonial-content span {
  color: var(--black-primary);
}

.testimonials p::before,
.testimonials p::after {
  font-size: 5rem;
  opacity: 0.1;
  position: absolute;
}

.testimonials p::before {
  content: "“";
  left: -50px;
  top: 0;
}

.testimonials p::after {
  content: "”";
}

@media (max-width: 800px) {
  .testimonials {
    grid-template-columns: 1fr;
  }

  .testimonial-content {
    padding: 40px 20px 40px 40px;
  }

  .testimonials p::before {
    left: -40px;
  }
}
